@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --tw-bg-opacity: 1;
  min-height: screen;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-poppins), sans-serif;
  display: flex;
  flex-direction: column;
}

#root, /* If using React with a root div */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 20px 20px; /* Storlek på rutor */
  background-image: linear-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.02) 1px, transparent 1px);
  pointer-events: none;
  animation: moveGrid 40s linear infinite;
}

@keyframes moveGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
