@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --tw-bg-opacity: 1;
  min-height: screen;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-poppins), sans-serif;
  display: flex;
  flex-direction: column;
}
html {
  transition: background-color 3s ease, color 3s ease;
}

#root, /* If using React with a root div */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 20px 20px; /* Storlek på rutor */
  background-image: linear-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.02) 1px, transparent 1px);
  pointer-events: none;
  animation: moveGrid 40s linear infinite;
}

@keyframes moveGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #938c9a, #2575fc);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #67596b, #3f51b5);
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* Firefox compatibility */
* {
  scrollbar-width: thin;
  scrollbar-color: #6a11cb #f1f1f1;
}

/* Implementation Example */
body {
  /* Apply the custom scrollbar to the entire page */
  overflow-y: scroll;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.skill-tag {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-delay: calc(0.1s * var(--index));
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.skill-tag:hover {
  transform: scale(1.05);
  transition: transform 0.15s ease;
}
